/*=============================================
             Theme text Color
=============================================*/
.xp-tranding .xp-news-text h3,
.xp-categories ul li a span,
.xp-categories ul li a:hover,
.xp-hedding p,
.xp-articles-inner .xp-text-box a,
.xp-review-person-innar .star-review span,
.xp-testimonial-tweets-inner a,
.xp-hedding2 p,

.xp-footer-inner .xp-review-person-innar p,
.xp-mid-footer .xp-mid-footer-left a,
.xp-copy-right .xp-copy-right-left p span,
.xp-copy-right-right .xp-footer-navigtion ul li a:hover,
.xp-footer-socail ul li a:hover,
.xp-about-me .xp-text-box h3 a,
.xp-authore .xp-text-box h3 a:hover,
.xp-shop-product-inner .xp-text-box .price p,
.xp-singlepduct-right .xp-price p,
.xp-gallery .button-group .button.is-checked,
.xp-gallery .button-group .button:hover,
.xp-about-author .xp-text-box h3 a span,
.xp-aboutlisting-inner ul li a:hover,
.xp-contact-info-inner .xp-adress p a:hover,
.xp-header-about .xp-about ul li a:hover,
.xp-header-about .xp-socail ul li a:hover,
.xp-header-about .xp-about ul li .xp-sub-menu li a:hover,
.xp-shoping-cart ul li a:hover,
.xp-post-larg-articl-inner .xp-text-box h3 a:hover,
.xp-post-larg-articl-inner .xp-text-box ul li a:hover,
.xp-footer-inner .xp-review-person-innar h4 a:hover,
.xp-mid-footer-right-inner .xp-text-box h3 a:hover,
.xp-post-list .xp-text-box h4 a:hover,
.xp-second-banner-inner .xp-text-box h1 a:hover,
.xp-second-banner-inner .xp-text-box h2 a:hover,
.xp-second-banner-inner .xp-text-box h3 a:hover,
.xp-second-banner-inner .xp-text-box ul li a:hover,
.xp-post-styl-left .xp-text-box h3 a:hover,
.xp-feature-vdio-inner .xp-text-box h3 a:hover,
.xp-feature-vdio-inner .xp-text-box ul li a:hover,
.xp-review-person-innar .xp-text-box h4 a:hover,
.xp-customer-review .xp-text-box h3 a:hover,
.xp-vedio-play a:hover,
.xp-feature-frst .xp-text-box .xp-text-box-inner h3 a:hover,
.xp-view-now a:hover,
.xp-feature-second .xp-text-box h3 a:hover,
.xp-staff-pick-inner .xp-text-box h3 a:hover,
.xp-liked-vedios-inner #images .slider-post .xp-text-box h3 a:hover,
.xp-articles-inner .xp-text-box h3 a:hover,
.xp-post-style3-inner .xp-text-box h3 a:hover,
.xp-post-style3-inner .xp-text-box ul li a:hover,
.xp-inner-banner .breadcrumb li a:hover,
.xp-inner-banner .breadcrumb li a:hover i,
.xp-shop-product-inner:hover .xp-text-box h3 a,
.xp-singlepduct-right .xp-singlepduct-title h3 a:hover,
.xp-categories-tags .xp-singl-categories ul li a:hover,
.xp-comments-detail .xp-text-box h3 a:hover,
.xp-singlepost-inner .xp-universal-theme .breadcrumb li a:hover,
.xp-universal-theme .xp-single-post-title h3 a:hover,
.xp-universal-theme .xp-single-post-title ul li a:hover,
.xp-previous-artical a:hover,
.xp-next-artical a:hover,
.xp-authore .xp-text-box ul li a:hover,
.xp-related-artical .xp-text-box h3 a:hover,
.xp-review-post .panel-title > a:hover,
.xp-forth-banner .xp-text-box h3 a:hover,
.xp-forth-banner .xp-text-box ul li a:hover,
#slider-nav a.current:after,
.thumbs-innr.selected .image-holder:after,
.xp-first-banner .thumbs-ip p span,
.xp-featured-bloded-inner #images2 .slider-post .xp-text-box h3 a,
.xp-featured-bloded-inner #images3 .slider-post .xp-text-box h3 a,
.xp-featured-bloded-inner #images4 .slider-post .xp-text-box h3 a,
.xp-featured-bloded-inner #images5 .slider-post .xp-text-box h3 a{

    color: #00619d;
}
/*=============================================
           Theme Background Color
=============================================*/
.xp-header-about .xp-language ul li a:hover,
.xp-navigation .nav > li > a:after,
.xp-navigation .navbar-nav > li.active:after,
.xp-lifestyle h3,
.xp-post-style .nav-tabs > li > a:after,
.xp-post-style .nav-tabs > li.active a:after,
.xp-popular-post .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
.xp-categories ul li a:after,
.xp-articles-inner .xp-image-holder .xp-tage,
.xp-featured-articles .owl-theme .owl-controls .owl-page.active span, .xp-featured-articles .owl-theme .owl-controls.clickable .owl-page:hover span,
.pagination ul li a:hover,
.xp-testimonial-tweets-inner p:after,
.xp-testimonial-tweets-inner .owl-theme .owl-controls .owl-page.active span, .xp-testimonial-tweets-inner .owl-theme .owl-controls.clickable .owl-page:hover span,
.xp-small-nav-inner .xp-play-icon,
.xp-small-nav-inner .xp-nav-point,
.xp-footer-inner .xp-footer-tag ul li,
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span,
.xp-therd-banner .xp-text-box .xp-tags,
.xp-newslater,
.xp-tages-bar ul li:hover,
.xp-universal-theme .xp-feature-tags a:hover,
.xp-qouts:after,
.xp-fashion-tage a:hover,
.xp-comments-detail .xp-text-box .xp-reply a:hover,
.xp-leave-cmments-inner input[type="submit"]:hover,
.xp-review-post .panel-body .xp-rview,
.xp-shop-product-inner .xp-text-box .xp-add-cart a,
.xp-discount-tag,
.skillst9 .skillbar .count-bar,
.xp-aboutlisting-inner ul li a:after,
.xp-aboutlisting-inner ul li a:before,
.xp-gallery-more a:hover,
.xp-navigation .nav li .sub-menu li a::after,
.sub-menu li.active:after,
.xp-post-larg-articl-inner .xp-text-box .red-more a:hover,
.xp-post-larg-articl-inner .owl-theme .owl-controls .owl-buttons div:hover,
.xp-therd-banner .owl-theme .owl-controls .owl-buttons div:hover,
.xp-economics-post .owl-theme .owl-controls .owl-buttons div:hover,
.xp-feature-vdio .owl-theme .owl-controls .owl-buttons div:hover,
.xp-singlepduct-right .xp-singlepduct-socil ul li a:hover,
.xp-singlepduct-right .xp-single-cart a:hover,
.xp-product-yourratting .form-group input[type="submit"]:hover,
.xp-related-artical-inner .owl-theme .owl-controls .owl-buttons div:hover,
.xp-contact-form .form-group input[type="submit"]:hover,
.xp-version-fashion,
.xp-homesix-post .xp-papulr-hedding h2:after,
.sk-folding-cube .sk-cube:before{
    background-color: #c1d2dc;
}
/*=============================================
            Theme border Color
=============================================*/
.xp-view-now a:after,
.xp-feature-second .xp-text-box a:after,
.pagination ul li a:hover,
.xp-comments-detail .xp-text-box .xp-reply a:hover,
.xp-gallery-more a:hover,
.xp-post-larg-articl-inner .xp-text-box .red-more a:hover,
.xp-therd-banner .owl-theme .owl-controls .owl-buttons div:hover,
.xp-economics-post .owl-theme .owl-controls .owl-buttons div:hover,
.xp-vedio-play a:hover,
.xp-product-yourratting .form-group input[type="submit"]:hover,
.xp-related-artical-inner .owl-theme .owl-controls .owl-buttons div:hover{
    border-color: #89d41b;
}

.sk-cube {
	background: #00619d !important;
}

.xp-lifestyle h3 {
	background: #00619d !important;
}